.parentContainer
{
	width: 80%;
	margin: auto;
	border: solid rgb(96, 96, 96) .1em;
	box-sizing: border-box;
	padding: 1em;

	display: flex;
	align-items: center;
}

.images img
{
	width: 100%;
	aspect-ratio: 1/1;
	object-fit: cover;
	left: 50%;
	transform: translate(-50%);
	position: relative;

}

.images
{
	width: 48%;
	margin: 1%;
	z-index: -1;
}

.texts
{
	width: 48%;
	margin: 1%;
	display: flex;
	flex-flow: column;
	justify-content: space-between;
}

.companyName
{
	font-size: 2vw;
	font-weight: 900;
	font-style: italic;
	letter-spacing: 1em;
	text-align: justify;
}

.information
{
	margin: auto;
	text-align: justify;
	padding: 2em;
	box-sizing: border-box;
	line-height: 2em;

	border: solid rgb(96, 96, 96) .1em;
}